<!DOCTYPE html>
<html ng-app="seguros">
<meta charset="UTF-8">
<head>
	<title></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/lib/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/lib/customStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


	<!--Scripts-->
    <script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/angular-route.js"></script>
	<script type="text/javascript" src="js/lib/materialize.js"></script>
    <script type="text/javascript" src="js/lib/angular-materialize.min.js"></script>



	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
	<script type="text/javascript" src="js/directive/navDirective.js"></script>
	<script type="text/javascript" src="js/directive/cardDirective.js"></script>
	<script type="text/javascript" src="js/directive/sidenavDirective.js"></script>
	<script type="text/javascript" src="js/directive/tabsDirective.js"></script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style type="text/css">
	hr{

    border: none;
    background-color: #58ACFA;
    width: 30%;
    height: 5px;
    margin-left: initial;
	}
	p{
		font-size: 9pt
	}
	li{
		padding-left: 5px;
		font-size: 9pt
	}
	.m2{
		background-color: #D8D8D8;

    position: relative;
	}

</style>

</head>
	<body ng-controller='appControl'>
<div class='container'>
	<div class="row">
		<div class="col m2" style="height:1437.16px;position:absolute;"></div>
	</div>
	<div class="row">
		<div class="col m4" style='position:absolute;top:200px;background-color:#58ACFA;height:70px;opacity:0.7;z-index:1'>
			<h6><b style='color:white'>José Ángel Parga Cruz</b> 
				<p></p>
			<small  style='color:white'>Web Developer</small></h6>
		</div>
		<div class="col m2">
			<img src="img/yo.jpeg" style='width:100%'>
		</div>

		<div class="col m1"></div>
		<div class="col m6" style='margin-top: 60px;'>
			<ul><b>Extract</b>
				<li>Software engineer with 3 years of experience as a fullstack web developer</li>	
				<li> Front-end: experience with HTML5, CSS3, JS, JQuery y AngularJs </li>
				<li> Back-end: .NET (aspx),PHP (frameworks como slim y Laravel), Ruby and Rails notions</li>
				<li><b>Main motivation: personal and professional improvement, I consider me a dedicated, a capable and a studious person</b></li>
			</ul>
			
				<div class="row">
					<div class="col m3"></div>
					<div class="col m8">
						<ul>
							<li>
								<i class="material-icons" style="font-size:15px; color:#58ACFA;">location_on</i> Aguascalientes, Ags. México.
							</li>
							<li>
								<i class="material-icons" style="font-size:15px; color:#58ACFA;">phone</i> (+52)01-449-143-13-10
							</li>
							<li>
								<i class="material-icons" style="font-size:15px; color:#58ACFA;">email</i> angelpargaisc@gmail.com
							</li>
						</ul>
					</div>
				</div>
			</p>
		</div>
	</div>



	<div class="row">
		<div class="col m2">
			<h6><b>Education</b> </h6>
			<hr>
			<p></p>
			<p> <b>2016</b></p>
			<p> <b>OCAJPSE7</b></p>
			<p>Develop (Universidad Autónoma de Aguascalientes)</p>
			<p>Pending exam</p>
			<hr>
			<p> <b>2010-2014</b></p>
			<p> <b>Computational System Engineer</b></p>
			<p>Universidad Autónoma de Aguascalientes</p>
			<hr>
			<p></p>
		</div>
		<div class="col m1"></div>
		<div class="col m6">
			<h6><b>Experience</b> </h6>
			<hr>
			<ul>
				<li ng-repeat='e in experience'>

					<p>
						<h6>{{e.title}} 
							<p><small>{{e.interval}}</small></p>
						</h6>
					</p>
					<p>
						{{e.description}}
						<p></p>
						<label ng-repeat='t in e.subTopics'>{{t}}, </label>
					</p>
					<hr>
				</li>
			</ul>

		</div>
	</div>


	<div class="row">
		<div class="col m2">
			<h6><b>Social Networks</b></h6>
			<hr>
			<p><i class="fa fa-linkedin-square" style="font-size:15px; color:#58ACFA;"></i>mx.linkedin.com/in/angelpargaisc

			</p>
			<p><i class="fa fa-twitter-square" style="font-size:15px; color:#58ACFA;"></i> @ingenieromagel2</p>
			<p><i class="fa fa-facebook-square" style="font-size:15px; color:#58ACFA;"></i> Angel Parga</p>
			<h6><b>References</b> </h6>
			<hr>
			<p> Rafael Chavez Macias</p>
			<p> <b>Department Leader (INEGI)</b></p>
			<p> <b>Phone:</b> 4491490300, Ext:2725</p>
			<p> <b>Email:</b>RAFAEL.CHAVEZ@inegi.org.mx</p>
			<hr>
			<p> Arturo Ruiz</p>
			<p> <b>Proyect Leader (Softtek)</b></p>
			<p> <b>Phone:</b> 449-196-29-10</p>
			<hr>
		</div>
		<div class="col m1"></div>
		<div class="col m6">
			<h6><b>Skills</b> </h6>
			<hr>
			<ul>
				<li ng-repeat="a in aptitudes">
					{{a.nombre}} <div class="progress" style='heigth:10px'>
				    	<div class="determinate" style="width:{{a.percent}}"></div>
				    </div>
				</li>
			</ul>	
			
		</div>
	</div>

<div class="row"></h6>
	<div class="col m2"></div>
	<div class="col m1"></div>
	<div class="col m6"> <h6>Hobbies <small>Soccer - Reading - Music - Cine</small></div>
</div>

</div>

	</body>
</html>