
	<!--<header class="navbar-fixed">
		<div sidenav-directive></div>
	</header>
	<header class="navbar-fixed">
		<div nav-directive></div>
	</header>-->
		<section>
			<div tabs-directive many-tabs='manyTabs'></div>
			<div tabs-directive many-tabs='cards'></div>
		</section>
<!--      	<section>
<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="single in collapsibleElements">
        <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
        <div class="collapsible-body"><p>{{single.content}}</p></div>
    </li>
</ul>
      	</section>-->

		
		<section>
			<div card-directive cards='cards'></div>
		</section>
		